<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      hola mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Direccion</ion-label>
            <ion-input [(ngModel)]="direccion"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Colonia</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-button (click)="leerInputs()">hazme click</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
